In [1]:
"""
                        ~ Notable fields/methods & Techniques ~

df = pandas.read_csv('data.csv')


"""
import pandas
import numpy

data_folder = '../../data'
# types: A = supercenter, B = discount store, C = neighborhood market
df_walmart = pandas.read_csv(f'{data_folder}/walmart_sales_subset.csv', index_col=0)
df_homeless = pandas.read_csv(f'{data_folder}/homeless.csv', index_col=0)

df_walmart.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [3]:
df_homeless.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [4]:
df_homeless.groupby('region')['individuals'].agg([numpy.mean,numpy.median])

                            mean   median
region
East North Central   5081.200000   5209.0
East South Central   3117.000000   2652.5
Mid-Atlantic        18012.666667   8163.0
Mountain             3561.375000   1926.5
New England          2150.500000   1142.5
Pacific             28427.200000  11139.0
South Atlantic       5806.666667   3928.0
West North Central   1995.857143   1711.0
West South Central   6710.500000   2681.5