In [17]:
import numpy as np

"""
~ notable fields/methods ~

df = pandas.read_csv('data.csv')

df
 - .columns, .index, .info(), .describe()
 - .sort_values()
 - .isin()
 - .drop_duplicates()
 - .pivot_table()
 - .set_index(), .reset_index(), .sort_index() 

df['column']
 - .mean(), .median()  # summary stats
 - .min(), .max()
 - .agg()
 - .cumsum(), .cummax()

"""
import pandas
import numpy

data_folder = '../../data'
# types: A = supercenter, B = discount store, C = neighborhood market
df_walmart = pandas.read_csv(f'{data_folder}/walmart_sales_subset.csv', index_col=0)

df_walmart.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [26]:
df_simple_walmart = pandas.DataFrame(df_walmart[:10][['date','weekly_sales','unemployment']])
df_simple_walmart['nums'] = [n for n in range(1,11)]
# df_simple_walmart = pandas.concat([df_simple_walmart, df_simple_walmart.loc[3]])
# len(df_walmart10)
df_simple_walmart

                       0        date  nums  unemployment  weekly_sales
0                    NaN  2010-02-05   1.0         8.106      24924.50
1                    NaN  2010-03-05   2.0         8.106      21827.90
2                    NaN  2010-04-02   3.0         7.808      57258.43
3                    NaN  2010-05-07   4.0         7.808      17413.94
4                    NaN  2010-06-04   5.0         7.808      17558.09
5                    NaN  2010-07-02   6.0         7.787      16333.14
6                    NaN  2010-08-06   7.0         7.787      17508.41
7                    NaN  2010-09-03   8.0         7.787      16241.78
8                    NaN  2010-10-01   9.0         7.838      20094.19
9                    NaN  2010-11-05  10.0         7.838      34238.88
date          2010-05-07         NaN   NaN           NaN           NaN
weekly_sales   17413.940         NaN   NaN           NaN           NaN
unemployment       7.808         NaN   NaN           NaN           NaN
nums                   4         NaN   NaN           NaN           NaN

In [8]:
df_walmart10['weekly_sales'].quantile(0.25)

17437.5575

In [14]:
# _practice_ .agg()
def iqr(series):
    return series.quantile(0.75) - series.quantile(0.25)

df_simple_walmart['nums'].agg(iqr)

4.5

In [15]:
df_simple_walmart[['nums','weekly_sales','unemployment']].agg(iqr)

nums               4.50000
weekly_sales    6712.79250
unemployment       0.04575
dtype: float64

In [18]:
df_simple_walmart[['nums','weekly_sales','unemployment']].agg([iqr,numpy.median])

        nums  weekly_sales  unemployment
iqr      4.5     6712.7925       0.04575
median   5.5    18826.1400       7.80800

In [22]:
df_simple_walmart['cume_sum'] = df_simple_walmart['nums'].cumsum()
df_simple_walmart['cume_max'] = df_simple_walmart['nums'].cummax()
df_simple_walmart[['nums','cume_sum','cume_max']]

   nums  cume_sum  cume_max
0     1         1         1
1     2         3         2
2     3         6         3
3     4        10         4
4     5        15         5
5     6        21         6
6     7        28         7
7     8        36         8
8     9        45         9
9    10        55        10

In [28]:
df_simple_walmart.loc[0:3]

     0        date  nums  unemployment  weekly_sales
0  NaN  2010-02-05   1.0         8.106      24924.50
1  NaN  2010-03-05   2.0         8.106      21827.90
2  NaN  2010-04-02   3.0         7.808      57258.43
3  NaN  2010-05-07   4.0         7.808      17413.94

In [29]:
# _practice_ .pivot_table()
df_walmart.pivot_table(
    values='weekly_sales', # what to agg by
    index='type', # the index
    columns='department', # groupby this 'index AND columns'
    aggfunc=numpy.mean,
    fill_value=0,
    margins=True
)

department,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,All
type,,,,,,,,,,,,,,,,,,,,,
A,30961.725379,67600.158788,17160.002955,44285.399091,34821.011364,7136.292652,38454.336818,48583.475303,30120.449924,30930.456364,...,70423.165227,139722.204773,53413.633939,60081.155303,123933.787121,21367.042857,28471.266970,12875.423182,379.123659,23674.667242
B,44050.626667,112958.526667,30580.655000,51219.654167,63236.875000,10717.297500,52909.653333,90733.753333,66679.301667,48595.126667,...,13199.602500,50859.278333,1466.274167,161.445833,77082.102500,9528.538333,5828.873333,217.428333,0.000000,25696.678370
All,32052.467153,71380.022778,18278.390625,44863.253681,37189.000000,7434.709722,39658.946528,52095.998472,33167.020903,32402.512222,...,65654.535000,132316.960903,49084.687292,55087.846181,120029.480069,20337.607681,26584.400833,11820.590278,379.123659,23843.950149