In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("DataFramePractice").getOrCreate()

In [9]:
df_office = spark.read.csv(
    'data/office_project.csv', inferSchema=True, header=True)
df_office.show(5)

+-----------+-----------------+----------+-----+------+---+-----+
|employee_id|    employee_name|department|state|salary|age|bonus|
+-----------+-----------------+----------+-----+------+---+-----+
|       1000|        Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|  Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|      Tamra Amber|  Accounts|   AK|  5717| 47| 1291|
|       1004|      Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
+-----------+-----------------+----------+-----+------+---+-----+
only showing top 5 rows

In [8]:
df_office.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [11]:
df_office.createOrReplaceTempView('office')
spark.table('office').select('employee_name', 'age').limit(5).show(5)

+-----------------+---+
|    employee_name|age|
+-----------------+---+
|        Nitz Leif| 26|
|  Melissia Dedman| 43|
|Rudolph Barringer| 43|
|      Tamra Amber| 47|
|      Mullan Nitz| 34|
+-----------------+---+

In [12]:
spark.sql("""
    select employee_name, age
    from office
    limit 5
""").toPandas()

       employee_name  age
0          Nitz Leif   26
1    Melissia Dedman   43
2  Rudolph Barringer   43
3        Tamra Amber   47
4        Mullan Nitz   34

In [14]:
df_office.count()

1000